.desktopLog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(34, 34, 34, 1) 100%
  );
  pointer-events: none;
  z-index: 300;
  h1 {
    font-size: 20px;
    padding: 0 15px;
    color: #f6f6f6;
    text-decoration: underline;
  }
}
