.chart {
    height: 200px;
    margin: 100px 0 65px 0;
    padding-bottom: 200px;
}
h1 {
    text-align: center;
    color: #000;
    font-weight: 700;
}
h2 {
    text-align: center;
    color: #333;
    opacity: .9;
    font-weight: 700;
    font-style: italic;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .chartTypes{
        button{
            margin: 10px;
            border: none;
            color:#fff;
            background-color: darkcyan;
            padding: 15px;
            border-radius: 25px;
            transition: .1s ease 0s;
            &:hover{
                color:#000;
                background-color: rgb(255, 255, 255);
            }
            &.active {
                background-color: darkgrey;
                color:#000;
            }
        }
    }
    .chartPeriods{
        button{
            margin: 5px;
            border: none;
            color:#fff;
            background-color: darkcyan;
            padding: 15px;
            border-radius: 25px;
            transition: .1s ease 0s;
            &:hover{
                color:#000;
                background-color: lightcyan;
            }
            &.active {
            color:#000;
            background-color: darkgrey;
        }
        }
        
    }
}

.timeChange {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    button {
        &:hover {
            // transform: scale(1.1);
        }
        &:active{
            opacity: .5;
        }
    }
    .decrement{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        border-radius: 25px 0 0 25px;
        border: none;
        padding: 15px 30px;
        margin: 10px;
        z-index: 100;
        font-size: 30px;
        background-color: rgba(0, 0, 0, 0);
        transition: .1s ease 0s;
        
    }
    .increment {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0 25px 25px 0;
        border: none;
        z-index: 100;
        padding: 15px 30px;
        margin: 10px;
        font-size: 30px;
        transition: .1s ease 0s;
    }
}

.date {
    text-align: center;
    color: #000;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    z-index: 100;
}
.expenses{
    text-align: center;
    color: #000;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    z-index: 100;
    color: rgba(255, 255, 255, 0.5);
    top: 160px;
}

@media (max-width: 425px) {
    
}