.cardMedia {
	height: 50px;
	width: 50px;
	padding-right: 10px;
}

.transaction {
	display: flex;
	align-items: center;
	padding: 25px;
	width: 500px;
	height: 80px;
	margin: 0 auto;
	box-sizing: border-box;
	background: #fff;
	border-radius: 20px;
}
.transactionLogo {
	height: 50px;
	width: 50px;
}
.transactionInfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-left: 20px;
}
.transactionName {
	font-size: 22px;
	color: #444;
	margin-bottom: 5px;
}
.transactionSphere {
	color: #444;
}

.transactionValue {
	color: #444;
}
